:root {
  --main-font: 'Roboto', serif;
  --main-text-color: #172755;
  --accent-text-color: #8794ba;
  --card-color: #0F1F4B;
  --button-color: #ef2a82;
  --accent-color: #fff;
  --padding-large: 13.3%;
  --padding-small: 5.33%;
}
