@media (1100px >= width ) {
  
  .welcome-block {
    flex-direction: column-reverse;
    padding-inline: var(--padding-large);
    gap: 26px;
  }

  .welcome-block__first-column {
    width: 100%;
    padding-block: 0;
  } 

  .welcome-block__second-column {
    width: 100%;
    justify-content: center;
  }

  .welcome-block__wrapper {
    width: 100%;
  }
  
  .welcome-block__wrapper::before {
    display: none;
  }

  .header__menu {
    display: none;
  }

  .header__top {
    display: flex;
    align-self: center;
    justify-content: space-between;
  }

  .media-link {
    display: inline-block;
  }
}

@media (815px >= width ) {

  .footer-menu__list {
    display: none;
  }

  .screenshots-card {
    flex-direction: column;
  }

  .screenshots-card__text {
    width: 100%;
  }

  .screenshots-card__image {
    width: 100%;
  }
}

@media (500px >= width ) {

  .authorization-button_type_signup {
    display: none;
  }

  .container_inline {
    padding-inline: 20px;
  }

  .welcome-block {
    padding-inline: 20px;
  }

  .push-button {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}

@media (375px >= width ) {
  
  .header__logo {
    width: 138px;
    height: 30px;
  }

  .header {
    padding-block-start: 19px;
  }

  .authorization-buttons {
    gap: 18px;
  }

  .authorization-button {
    width: 48px;
    padding: 0;
  }

  .header__top {
    margin-block-end: 65px;
  }

  .desktop_hidden {
    display: none;
  }

  .welcome-block__paragraph {
    margin-block-end: 22px;
  }

  .header_margin_bottom {
    margin-block-end: 178px;
  }

  .features__title {
    text-align: left;
    margin-block-end: 18px;
  }

  .features__paragraph {
    text-align: left;
    padding: 0;
    line-height: 144%;
    margin-block-end: 39px;
  }

  .features-card {
    flex-direction: row;
  }

  .features-card__text {
    text-align: left;
  }

  .features-card__image {
    align-self: self-start;
  }

  .features__list {
    gap: 30px;
  }

  .features {
    margin-block-end: 67px;
  }

  .screenshots-card__text {
    gap: 16px;
  }

  .screenshots-card__paragraph {
    line-height: 147%;
  }
  
  .screenshots-card_reverse {
    flex-direction: column-reverse;
  }

  .screenshots__list {
    gap: 60px;
  }

  .screenshots-card {
    gap: 30px;
  }

  .screenshots {
    margin-block-end: 0;
  }

  .footer {
    padding-block-start: 206px;
  }

  .footer-cards__title {
    text-align: left;
    margin-block-end: 18px;
  }

  .footer-cards__paragraph {
    text-align: left;
    padding: 0;
    margin-block-end: 50px;
  }

  .footer-card {
    padding-block: 35px 47px;
    padding-inline: 30px;
    min-width: 280px;
    max-height: 358px;
  }

  .footer-card__title {
    margin-block-end: 8px;
  }

  .footer-card__subtitle {  
    margin-bottom: 23px;
    padding-bottom: 32px;
  }

  .footer-card_padding_small {
    margin-block-end: 0;
  }
}